* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'open sans', sans-serif;
    font-size: 20px;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 90%;
    margin: 0 auto;
    background-color: #ddd;
    color: #222;
}

header {
    flex-basis: 30vh;
}

main {
    padding: 30px 0;
    flex-grow: 1;
    display: flex;
}

aside {
    min-width: 240px;
}

.page {
    flex-grow: 1;
}

footer {
    background-color: #c2cea9;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    color: #222;

}

.product-site {
    color: #222;
    text-transform: uppercase;
    font-weight: 700;
}

.product__item {
    text-transform: capitalize;
    margin-bottom: 10px;
}

.product-link {
    text-decoration: none;
    color: #222;
    font-size: 16px;
    transition: .2s;
}

.product-link:hover {
    color: #a691a0;
}