.contact {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin: 30px auto;
    padding: 10px;
    background-color: #c2cea9;
    border-radius: 5px;

}

.contact__header {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    padding: 5px 0;
    margin: 20px auto 0 auto;
    background-color: #c2cea9;
    border-radius: 5px;
    width: 90%;
}

.contact__note {
    display: block;
    font-size: 12px;
    text-transform: capitalize;
}

.contact__form {
    width: 90%;
}

.contact__textarea {
    margin: 20px 0;
    align-self: center;
    font-size: 14px;
    font-family: 'open sans', sans-serif;
    width: 100%;
    min-height: 180px;
    line-height: 1.6;
    border-radius: 5px;
    border-color: #fff;
    /* box-shadow: 0 0 6px 0 #fff; */
    padding: 10px 0 0 10px;
    color: #222;

}

.contact button {
    display: block;
    margin: 0 auto;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'open sans', sans-serif;

    /* color: #fff; */
    transition: .3s;
    /* box-shadow: 0 0 5px 0 #fff; */
    color: #c2cea9;
}

.contact button:hover {
    /* background-color: #d3763d; */
    box-shadow: 0 0 15px 0 #fff;
    cursor: pointer;

}

@media only screen and (min-width:801px) {
    .contact {
        margin: 30px auto;
        /* width: 50%; */
        width: 60vw;
        /* transform: translateX(-135px); */
    }

    .contact__header {
        margin-top: 0;
        margin-left: 0;
        text-align: left;
        padding-left: 15px;

    }

    .contact__form {
        /* width: 40vw; */
        width: 90%;
        margin: 0 auto;
    }

    .contact button {
        align-self: flex-end;
    }
}

@media only screen and (min-width:801px) {
    .contact {
        width: 60vw;
        margin: 30px 0;
    }

    .contact__header {
        width: 60vw;
    }


}

@media only screen and (min-width:1024px) {

    .contact__header {
        width: 75vw;
    }

    .contact {
        width: 50%;
    }
}