.login {
    display: block;
    margin: 20px 0 0 15%;
}

.password {
    margin-left: 14.3%;
}

.login input {
    margin-left: 10px;
    height: 20px;
    max-width: 550px;
    border: 1px solid #222;
    border-radius: 2px;
    box-shadow: 0 0 4px 0;
}

.login--button {
    display: block;
    margin: 30px auto auto 30%;
    width: 100px;
    background-color: #fff;
    border: 2px solid #222;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;
    transition: .2s;
}

.login--button:hover {
    background-color: #c2cea9;
}