.form {
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    background-color: #c2cea9;
    padding: 30px;
    border-radius: 5px;
}

.login {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    text-transform: uppercase;
    color: #fff;
}

.login__input,
.login__input--password {
    height: 20px;
    border: 1px solid #fff;
    border-radius: 2px;
    background-color: #fff;
    color: #222;
}

.login--button {
    font-size: 20px;
    color: #c2cea9;
    background-color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: .3s;
    align-self: center;
    margin-top: 20px;
    transition: .3s;
    font-family: 'open sans', sans-serif;
}


.login--button:hover {
    box-shadow: 0 0 15px 0 #fff;
    cursor: pointer;
}

@media only screen and (min-width:600px) {
    /* .form {
        width: 70%;
    } */

    .login {
        flex-direction: row;
    }
}

@media only screen and (min-width:801px) {
    .form {
        width: 60vw;
        margin: 30px 0;
    }
}

@media only screen and (min-width:900px) {
    .form {
        width: 50%;
    }
}