.nav__mobile {
    display: block;
    position: absolute;
    top: 20%;
    /* left: calc(5% - 8px); */
    left: 5%;
}

.nav__mobile__button {
    background-color: #c2cea9;
    border-radius: 5px;
    padding: 5px;
}


@media only screen and (min-width: 801px) {
    .nav__mobile {
        display: none;
    }
}

.mobile__listItem {
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    color: #222;
}

.active {
    color: #bbb;
}

.mobile__menu-item:hover {
    background-color: #ddd;
}