.products {
    /* width: 100vw;
    margin-top: 6%; */
    margin-top: 20px;
    width: 100%;
    padding: 0 5%;
}

.products__header {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-family: 'open sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    border-radius: 5px;
    background-color: #c2cea9;
    margin-top: 20px;
    padding: 5px 0;

}

.products__list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 20px;
}

.products__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* flex-basis: 33%; */
    /* flex-basis: 60%; */
    flex-basis: 80%;
    max-width: 350px;
    margin: 10px 10px 30px 10px;
    padding: 15px;
    border: 2px solid transparent;
    /* border: 2px solid #c2cea9; */
    border-radius: 5%;
    box-shadow: 0 0 10px 0 #c2cea9;
    /* max-height: 350px; */



}

.products__container {
    max-width: 90%;
    margin: 0 auto;


}

.products__link {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.products__name {
    text-decoration: none;
    padding-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    font-family: "lato", sans-serif;

}

.products__link {
    text-decoration: none;
    color: #222;
}

.products__image {
    /* height: 300px; */
    /* height: 200px; */
    max-width: 95%;
    max-height: 200px;

}

.products__item:hover {
    box-shadow: 0 0 30px 0 #c2cea9;
}

.products__link:hover {
    color: #c2cea9;
}

@media only screen and (min-width:801px) {

    .products {
        /* margin: 1% auto 0 auto; */
        /* margin: 0 auto; */
        margin-top: 0;
        width: 60vw;
        padding: 0;
        /* width: 50%; */
        /* transform: translateX(-135px); */
    }

    .products__header {
        margin-top: 0;
        margin-bottom: 10px;
        padding-left: 15px;
        text-align: left;
    }

    .products__image {
        max-height: 300px;
        max-width: 100%;
    }

    /* .products__item {
        flex-basis: 60%;

    } */

    .products__name {
        padding-top: 20px;
    }
}

@media only screen and (min-width:1024px) {

    .products {
        width: 75vw;
    }

    .products__item {
        flex-basis: 33%;

    }
}


/* .products__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    flex-basis: 33%;
    width: 33%;
}

.products__name {
    width: 100%;
    text-align: center;
    font-size: 13px;

}

.products__container {
    flex-basis: 50%;
}

.products a {
    text-decoration: none;
    text-transform: capitalize;
    color: #333;
    transition: .2s;
}

.products a:hover {
    color: #a691a0;
}

.products__image {
    height: 300px;
} */